body{
	background-color: black;
	color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  background-color: DodgerBlue;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#animacja {
  width: 105px;
  height: 105px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: reverse; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 6s;
  animation-direction: reverse;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  12.5% {
    background-color: gold;
    left: 100px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }
  37.5% {
    background-color: purple;
    left: 200px;
    top: 100px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  62.5% {
    background-color: orangered;
    left: 100px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  87.5% {
    background-color: deeppink;
    left: 0px;
    top: 100px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}